In [1]:
import pandas as pd
import math

In [14]:
df=pd.read_csv("combined_data.csv")

C:\Users\thiru\AppData\Local\Temp\ipykernel_2964\2082108167.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("combined_data.csv")

In [3]:
df

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,remaining_lease
0,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,9000.0,0
1,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,04 TO 06,31.0,IMPROVED,1977,6000.0,0
2,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,8000.0,0
3,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,07 TO 09,31.0,IMPROVED,1977,6000.0,0
4,1990-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,04 TO 06,73.0,NEW GENERATION,1976,47200.0,0
...,...,...,...,...,...,...,...,...,...,...,...
1823845,2014-12,YISHUN,5 ROOM,816,YISHUN ST 81,10 TO 12,122.0,Improved,1988,580000.0,NaN
1823846,2014-12,YISHUN,EXECUTIVE,325,YISHUN CTRL,10 TO 12,146.0,Maisonette,1988,540000.0,NaN
1823847,2014-12,YISHUN,EXECUTIVE,618,YISHUN RING RD,07 TO 09,164.0,Apartment,1992,738000.0,NaN
1823848,2014-12,YISHUN,EXECUTIVE,277,YISHUN ST 22,07 TO 09,152.0,Maisonette,1985,592000.0,NaN
1823849,2014-12,YISHUN,EXECUTIVE,277,YISHUN ST 22,04 TO 06,146.0,Maisonette,1985,545000.0,NaN

In [4]:
# Convert 'month' column to datetime format
df['month'] = pd.to_datetime(df['month'])

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1823850 entries, 0 to 1823849
Data columns (total 11 columns):
 #   Column               Dtype
---  ------               -----
 0   month                datetime64[ns]
 1   town                 object
 2   flat_type            object
 3   block                object
 4   street_name          object
 5   storey_range         object
 6   floor_area_sqm       float64
 7   flat_model           object
 8   lease_commence_date  int64
 9   resale_price         float64
 10  remaining_lease      object
dtypes: datetime64[ns](1), float64(2), int64(1), object(7)
memory usage: 153.1+ MB

In [17]:
df=pd.read_csv("combined_data.csv")

C:\Users\thiru\AppData\Local\Temp\ipykernel_2964\2082108167.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("combined_data.csv")

In [23]:
def calculate_remaining_lease_years(x):
    if isinstance(x, str):
        return x
    elif 'years' in x and len(x.split()) == 4:
        return math.ceil(int(x.split()[0]) + int(x.split()[2])/12)
    else:
        return 0
df['remaining_lease_years'] = df['remaining_lease'].apply(calculate_remaining_lease_years)


# Drop the original 'remaining_lease' column
df.drop(columns=['remaining_lease'], inplace=True)

# Display the preprocessed DataFrame
print(df)

TypeError: argument of type 'int' is not iterable

In [13]:
df['remaining_lease_years'].unique()

array([0, '0', '70', '65', '64', '63', '62', '69', '60', '61', '86', '77',
       '80', '90', '87', '66', '58', '94', '71', '68', '84', '73', '79',
       '76', '72', '82', '74', '67', '88', '81', '89', '53', '54', '55',
       '57', '93', '83', '85', '92', '91', '59', '95', '52', '51', '56',
       '75', '96', '78', '50', '97', '49', '48', 62, 61, 63, '63 years',
       59, 60, '60 years', '61 years', '62 years', 64, 94, 95, 79,
       '58 years', 71, 68, 69, '56 years', 67, 66, 70, 65, '83 years', 84,
       88, 72, 93, 55, 83, 76, 56, '68 years', 75, 73, '80 years', 81, 87,
       80, 54, 58, 53, 52, 57, 96, '55 years', '57 years', '79 years', 91,
       82, '85 years', 85, '64 years', '93 years', 86, 78, '78 years', 89,
       '53 years', '49 years', '51 years', 51, '89 years', '69 years',
       '65 years', 74, 49, '54 years', '71 years', '76 years', '67 years',
       '73 years', '95 years', 90, 92, '87 years', '52 years', 50,
       '59 years', '84 years', '81 years', '90 years', '88 years',
       '66 years', '70 years', 77, '72 years', '77 years', '92 years',
       '94 years', '86 years', '82 years', '75 years', '74 years', 97,
       '91 years', '50 years', '48 years', 48, '96 years', '47 years', 47,
       '46 years', 46, 98, '97 years', 45, '45 years', '44 years', 44, 43,
       '43 years', nan], dtype=object)